
.modalBody{
    padding: 1.5em;
}

.enunciado{

}

.enunciado textarea{
    width: 100%;
    background-color: #F9F4F4;
    border: none;
    border-radius: 6px;
    padding: 1em;
}

.numFilas{
    margin-top: 1em;
}

.numFilas input{
    width: 4em;
}

.tipoPauta{
    margin-top: 1em;
}


.modalHorizontalRule {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.vistaPrevia{
    border: 1px solid #bababa;
    border-radius: 7px;
}

.vistaPreviaHeader{
    background-color: #E8E8E8;
    padding: 1em;
}

.vistaPreviaBody{
    background-color: #FBFBFB;
    min-height: 3em;
    padding: 1em;
}

.line{
    border-bottom: 1px solid black;
    height: 25px;
}

.okButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.okButtonContainer button{
    background-color: #0C8CE9;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}