.modalOverlay {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
    position: fixed;
    max-width: 800px;
    width: 50vw;
    top: 20vh;
    left: 30vw;

    background-color: white;

    border-radius: 6px;
}

.modalBody {
    display: flex;
    flex-direction: column;

    padding: 1.6rem;

    gap: 1.5rem;
}

.modalGroup {
    display: flex;
    flex-direction: column;
}

.modalGroup > label {
    font-size: 1.4rem;
}

.modalGroup > input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 6px;
    border: 2px solid lightgray;
}

.modalGroup > input[type="text"]:focus {
    outline: none;
    border-color: var(--color-primary);
}

.modalButton {
    background-color: var(--color-button-blue);
    color: var(--color-text-white);

    border: none;

    border-radius: 0.4rem;
    padding: 0.6rem 0.8rem;

    font-size: 1.2rem;
}

.modalButton:hover {
    cursor: pointer;

    background-color: var(--color-button-blue-dk);
}

.modalCenter {
    align-self: center;
}

.modalImageList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

    max-height: 20rem;
    overflow-y: auto;
}

.modalImage {
    max-width: 10rem;
}