.main{
    padding:10px;
    padding-top: 110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
}

.editor{
    /* border: 1px solid black; */
    height: 100%;
}

.quill_container{
    overflow-y: scroll;
}

.inicio{
    height: 100vh;
}