.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1.5rem;

	background-color: var(--color-background-white);

	box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.25);
}

.navbarLogo {
	max-width: 12.5rem;

	transition: 200ms ease-in;
}

.navbarLogo:hover {
	scale: 1.1;
	opacity: 0.9;
}

.navbarLinks {
	display: flex;

	gap: 0.5rem;
}

.navbarLink {
	display: flex;
	align-items: center;

	padding: 0.2rem 2rem;
	border-radius: 6px;

	gap: 0.4rem;

	text-decoration: none;

	transition: 150ms ease-in;
}

.navbarLinkIcon {
	font-size: 1.7rem;

	color: var(--color-secondary);

	transition: inherit;
}

.navbarLinkText {
	font-size: 1.5rem;

	color: var(--color-secondary);

	transition: inherit;
}

.navbarLink:hover {
	background-color: rgb(12, 140, 233, 0.2);
}
