:root {
    --color-primary: #E38787;
    --color-secondary: #2D4555;
    --color-background-white: white;
    --color-background-grey: #FBFBFB;
    --color-background-grey-dk: #D2D2D2;
    --color-background-blue: #0C8CE9;
    --color-text-black: black;
    --color-text-white: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-background-white);
    color: var(--color-text-black);
}

a {
    color: inherit;
}