.toolbarButton {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    background-color: transparent;
    border: none;

    cursor: pointer;

    position: relative;

    padding: 0.2rem 0.5rem;
}

.toolbarButton:hover {
    background-color: var(--color-background-grey-md);
}