.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;

    background-color: var(--color-background-white);

    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.25);
}

.navbarLogo:hover {
    opacity: 0.85;
}

.navbarLinks {
    display: flex;

    gap: 2.5rem;
}

.navbarLink{
    display: flex;
    align-items: center;

    gap: 0.4rem;

    text-decoration: none;
}

.navbarLinkIcon {
    font-size: 1.8rem;

    color: var(--color-secondary);

    transition: 150ms ease-in;
}

.navbarLinkText {
    font-size: 1.5rem;

    color: var(--color-secondary);

    transition: 150ms ease-in;
}

.navbarLink:hover > * {
    color: var(--color-button-blue);
}

.navbarLink:hover > .navbarLinkText {
    text-decoration: underline;
}