.plusButton {
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    font-size: 1.3rem;
    color: var(--color-button-blue-dk);
}

.plusButton:hover {
    color: var(--color-button-blue);
}

.buttonUpdate,
.button {
    cursor: pointer;
    border: 2px solid var(--color-button-blue);
    border: 0px;
    background-color: transparent;
    padding: 1px;
    color: #FFFFFF;
    background-color: var(--color-button-blue-dk);
    border-radius: 4px;

}

.button_lg {
    border: 2px solid var(--color-button-blue);
    color: var(--color-button-blue);
    background-color: white;
}

.button:hover {
    background-color: var(--color-button-blue);
}

.botonera {
    display: flex;
    gap: 0.5rem;
}

.end {
    align-self: end;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 22px;
}

.ul {
    height: 150px;
    overflow: auto;
    margin-top: 0.5rem;
    list-style: none;
    padding-left: 0;
    padding-right: 1rem;
}

.concept {
    margin-left: 0.4rem;
}

.previewConcept {
    margin-bottom: 0.4rem;
}

.li {
    display: flex;
    gap: 2rem;
    margin: 0.5rem 0;
}

.align {
    display: flex;
    align-items: center;
}

.options {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: start;

    margin-bottom: 2rem;
}

.inputNum {
    width: 30%;
}

.input {
    background-color: #FBFBFB;
    border: 2px solid #BABABA;
    border-radius: 0.4rem;
    padding: 0.5rem 0.5rem;
}

.grid_start {
    align-items: start !important;
    justify-items: start !important;
}

.labelNum {
    font-size: 12px;
}

.preview {
    border: 2px solid #BABABA;
    border-radius: 0.4rem;
    height: 15rem;

    margin: 2rem 0;
}

.preview_header {
    background-color: #E8E8E8;
    border-bottom: 2px solid #BABABA;
    font-size: 18px;
}

.preview_body {
    background-color: #FBFBFB;
    height: 13rem;
    overflow: auto;
    padding: 0.4rem;
}

.preview_body::-webkit-scrollbar,
.ul::-webkit-scrollbar {
    width: 0.5rem;
}

.preview_body::-webkit-scrollbar-track,
.ul::-webkit-scrollbar-track {
    background-color: transparent;
}

.preview_body::-webkit-scrollbar-thumb,
.ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

/* Para las pautas */

.select {
    width: 45px;
    height: 0px;
    color: transparent !important;
    border-color: transparent !important;
}

.staff {
    display: flex;
    flex-direction: column;
}

.staffButton {
    border-radius: 0.15rem !important;
    border: 0.1rem solid black !important;
    color: black !important;
    width: 3rem;
}

.staffButton_small {
    border-radius: 0.15rem !important;
    border: 0.1rem solid black !important;
    color: black !important;
    width: 2rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.containerCenter {
    display: flex;
    justify-content: center;
}

.ok {
    background-color: var(--color-button-blue-dk);
    border: 0;
    border-radius: 0.4rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    width: 5rem;
}

.ok:hover {
    background-color: var(--color-button-blue);
}